div{
    display: flex;
    justify-content: space-evenly;
    height: 100vh; 
    align-items: center; 
}

a{
    border-radius: 5px;
    display: flex;
    width: 25vw;
    height: 100px;
    border: 1px solid #6767ed;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-decoration: none;
    background-color: #6767ed;
    color: white;
}